<div class="container mt-5">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <h3 class="titulo">ROLES</h3>
            <br>
            <app-loading *ngIf="loading"></app-loading>
        </div>
    </div>

    <div class="row  mt-4">
        <div class="col-lg-12">
            <div class="card">
                <div class="card body">
                    <p-table [value]="listMaRoles" [tableStyle]="{ 'min-width': '100%' }" class="table table-striped">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Id</th>
                                <th>Rol</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowdata>
                            <tr>
                                <td>{{rowdata.id}}</td>
                                <td>{{rowdata.nombre_rol}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

</div>