p {
 
  font-size: 40px;
  color: #cdd0d4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

hr {
  border-width: 3px;
  max-width: 65px;
  border-color: #f05f44;
}

.btn-xl {
  background-color: rgba(240, 95, 68,0.5);
  border-color: #f05f44;
  border: none;
  margin: 10px;
  padding: 1rem 2rem;
  border-radius: 100px;
  transition: 0.5s all ease-in-out;
  backdrop-filter: blur(5px);
}

.btn-xl:hover {
  background-color: #ee4808;
  border-color: #ee4808;
  border-width: 4px;
}
